/*! +++++ BASIC +++++ */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark: #0b0c17;
    --red: #ff3571;
    --light: #dddddd;
    --blue: #3C30FF;
    --white:white;
    --black:black;
}

@font-face {
    font-family: 'Regular';
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Bold';
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Light';
    src: url(../font/Roboto/Roboto-Light.ttf);
}

html{
    font-size: 62.5%;
    font-family: 'Regular';
    overflow-x: hidden;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 2rem;
}

h6{
    font-size: 1.2rem;
}

p{
    font-size: 2rem;
}

img{
    max-width: 100%;
}

/*! +++++ HEADER +++++ */

/*? +++++ TOP LEFT LOGO +++++ */

.logo{
    position: fixed;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
}

.topleft{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 0 0 90px;
    width: 20rem;
    height: 10rem;
}

.topleft h3{
    font-family: 'Bold';
}


header{
    width: 100vw;
    height: 70vh;
    background: url(../img/ilustracion1.png) no-repeat right;
    background-size: contain;
    margin-bottom: 10rem;
}

header .header-content{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 85vw;
    height: 65vh;
}

header .header-content .header-text{
    max-width: 60rem;
}

header .header-content .header-text h1{
    font-family: 'Bold';
    margin-bottom: 1rem;
}

header .header-content .header-text h2{
    font-family: 'Light';
    word-spacing: 2px;
    line-height: 4rem;
    margin-bottom: 20rem;
}

header .header-content .header-text h2 img{
    width: 3rem;
    height: 3rem;
}

header .header-content .header-text h5{
    font-size: 1.8rem;
    color: var(--red);
}

header .header-content .person{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem;
    height: 70rem;
    animation: float 2s infinite alternate;
}

/* ? +++++ ANIMATION +++++ */

@keyframes float {

    0%,100%{
        transform: translateY(0);
    }
    33%{
        transform: translateY(1rem);
    }
    66%{
        transform: translateY(-1rem);
    }
    
}

/*! +++++ MAIN +++++ */

main{
    width: 100vw;
}

/* +++++ GALLERY +++++ */

main .gallery{
    background: url(../img/images.jpg) no-repeat center;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    margin-bottom: 10rem;
}

/* +++++ IDEA +++++ */

.idea{
    margin: 0 auto;
    width: 70vw;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.idea h1{
    max-width: 50rem;
}

.idea h1 img{
    width: 7rem;
    height: 7rem;
}

.idea p{
    font-family: 'Light';
    line-height: 4rem;
    max-width: 60rem;
}

/* +++++ CHALLENGE +++++ */

.challenge{
    margin: 0 auto;
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5rem;
}

.challenge h1{
    max-width: 85rem;
}

/* +++++ COLORS +++++ */

.colors{
    margin: 0 auto;
    width: 70vw;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 7rem;
    margin-bottom: 5rem;
}

.colors article{
    display: flex;
    align-items: flex-start;
    max-width: 50rem;
}

.colors .title{
    width: 7rem;
    height: 7rem;
    margin-right: 3rem;
}

.colors .red .title{
    width: 10rem;
    height: 10rem;
}

.colors .purple .title{
    width: 8rem;
    height: 8rem;
}

.colors .yellow{
    grid-column: 1/2;
    grid-row: 1/2;
}

.colors .lightblue{
    grid-column: 2/3;
    grid-row: 1/2;
}

.colors .purple{
    grid-column: 1/2;
    grid-row: 2/3;
}

.colors .red{
    grid-column: 2/3;
    grid-row: 2/3;
}

.colors .title-text h4{
    font-family: 'Bold';
    margin-bottom: 1rem;
}

.colors .title-text p{
    font-family: 'Light';
    line-height: 3rem;
}

/* +++++ LETSGO +++++ */

.letsgo{
    margin: 0 auto;
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10rem;
}

.letsgo h1{
    margin-bottom: 5rem;
}

.letsgo h2{
    font-family: 'Light';
    max-width: 80rem;
    line-height: 4rem;
}

/* +++++ STEPS +++++ */

.steps{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:90vw;
    height: 50vh;
    margin-bottom: 5rem;
}

.steps img{
    max-width: 50rem;
}

.steps .steps-text{
    max-width: 60rem;
}

.steps .steps-text h1{
    color: var(--light);
    margin-bottom: 4rem;
}

.steps .steps-text img{
    margin-bottom: 2rem;
}

.steps .steps-text h4{
    font-family: 'Bold';
    margin-bottom: 2rem;
}

.steps .steps-text p{
    font-family: 'Light';
    line-height: 4rem;
}

/* +++++ THISCHALLENGE +++++ */

.thischallenge{
    margin: 0 auto;
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10rem;
}

.thischallenge h1{
    margin-bottom: 5rem;
}

.thischallenge h2{
    font-family: 'Light';
    margin-bottom: 5rem;
}

.thischallenge form input{
    text-align: center;
    padding: 3rem 2rem;
    width: 60rem;
    height: 5rem;
    border-radius: 5px;
    border: 1px solid var(--light);
    box-shadow: 0px 0px 15px var(--light);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.thischallenge button{
    width: 20rem;
    height: 5rem;
    background: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    border-radius: 5px;
}

.thischallenge button:hover{
    background:
    linear-gradient(90deg,
    var(--red),
    var(--blue));
}

/* ! +++++ FOOTER +++++ */

footer{
    margin: 0 auto;
    width: 60vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer p{
    font-family: 'Light';
    color: var(--dark);
}

footer img{
    width: 2.5rem;
    height: 2rem;
    margin-left: 1rem ;
}

/* ! +++++ MOBILE +++++ */

@media only screen and (max-width:600px) {

    /* ! +++++ LOGO TOP LEFT+++++ */

    .topleft{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 0 0 5rem;
        width: 15rem;
        height: 10rem;
    }

    .logo{
        top: 1rem;
        left: 1rem;
        width: 2rem;
        height: 2rem;
    }

    /* ! +++++ HEADER +++++ */

    header{
        height: 65vh;
    }

    
    header .header-content{
        width: 85vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding-top: 15rem;
    }

    header .header-content .person{
        width: 50rem;
        height: 50rem;
        margin-bottom: 5rem;
    }

    header .header-content .header-text h2{
        margin-bottom: 10rem;
    }

    header .header-content .header-text h5{
        margin-bottom: 10rem;
    }

    /* ! +++++ GALLERY +++++ */

    main .gallery{
        height: 70vh;
        margin-top: 35rem;
    }

    /* ! +++++ IDEA +++++ */

    .idea{
        width: 80vw;
        height: 90vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    /* ! +++++ CHALLENGE +++++ */

    .challenge{
        width: 80vw;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 5rem;
    }

    /* ! +++++ COLORS +++++ */

    .colors{
        width: 80vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 5rem;
        margin-bottom: 10rem;
    }
    
    .colors .title{
        width: 7rem;
        height: 7rem;
        margin-right: 3rem;
    }
    
    .colors .red .title{
        width: 10rem;
        height: 10rem;
    }
    
    .colors .purple .title{
        width: 8rem;
        height: 8rem;
    }
    
    .colors .yellow{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .colors .lightblue{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .colors .purple{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .colors .red{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    /* ! +++++ LETSGO +++++ */

    .letsgo{
        margin-bottom: 15rem;
    }

    /* ! +++++ STEPS +++++ */

    .steps{
        flex-direction: column;
        width:80vw;
        height: 100vh;
    }

     /* ! +++++ THISCHALLENGE +++++ */

    .thischallenge{
        height: 60vh;
    }

     .thischallenge h1{
        font-size: 5rem;
     }

     .thischallenge h2{
        font-size: 2.5rem;
     }

     .thischallenge form input{
        max-width: 70vw;
     }

     .thischallenge button{
        max-width: 70vw;
     }

     /* ! +++++ FOOTER +++++ */

     footer{
        width: 70vw;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }


}